
    <div style="position: fixed,
                bottom : 0;
                right:0;
                left:0;
                padding:8px;
                background-color: #1B1C1D!important;
                color:white;
                max-height: 100px;
                font-family: Comfortaa;">
        <center>
            <div>
                Made With <i class="heart icon" style="font-size: 1em!important;"></i> by
                <span style="font-family: Comfortaa; font-weight: 700"><u>Aakash Goel</u></span>
            </div>
            <div class="copyright">
                copyright <i class="copyright icon" style="font-size: 1em!important;"></i>thenoobydev 2018
            </div>
        </center>
    </div>

    </body>
</html>
