<html>
    <head>
        <title>Show My Movie</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:400700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="film icon"></i>Show My Movie</div>
                <a href="/" class="item">Home</a>
                <a href="/" class="item">My Collection</a>
            </div>
        </div>