<% include partials/header %>
  <div class="aakash" style="height:92vh; padding-top:12em;">
    <div class="ui container">
      <div class="ui raised segments">

        <div class="ui segment">

          <div class="ui gray inverted segment">
            <h2 style="color:#f1f1f1; font-family:Comfortaa;"><i class="film icon"></i> Show My Movie</h2>
          </div>

          <div class="ui two column grid ">
            <div class="column">
              <div class="ui orange segment">
                <h3 style="font-family:Comfortaa;">Hello, I'm Aakash Goel<i class="user secret icon"></i></h3>
                <p>I'm a self-taught Developer. I'm passionate about coding and designing.</p>
                <div class="ui row">I am good at {<i class="js icon" style="color:#FFE082;"></i>} {<i class="python icon" style="color:#82B1FF;"></i>} {<i class="android icon" style="color:#CCFF90;"></i>} {<i class="css3 alternate icon" style="color:#EDDEF3;"></i>}. <br><br>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="ui grey segment">
                <p>This website is developed in <i class="node js icon" style="color:#67BD64;"></i>.<br>Links to download the movie/shows will be provided soon.  <br>Download links for Series and TV Shows, will be uploaded soon.</p>
                <p>Please, give your valuable suggestions and feedback.</p>
                <p>You can contact me at:</p>
                <div class="ui row">
                  <a class="contact-icon" href="https://www.github.com/goelaakash79" target="_blank"><i class="github square icon"></i></a>
                  <a class="contact-icon" href="https://www.linkedin.com/in/goelaakash79" target="_blank"><i class="linkedin icon"></i></a>
                  <a class="contact-icon" href="https://www.instagram.com/goelaakash79" target="_blank"><i class="instagram icon"></i></a>
                  <a class="contact-icon" href="mailto:goelaakash79@gmail.com" target="_blank"><i class="envelope outline icon"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include partials/footer %>
